<!DOCTYPE html>
<html>

<head>
  <title>Payment Success</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <style>
    body {
      text-align: center;
      padding-top: 40px;
      font-family: Arial;
    }

    h2 {
      color: green;
    }
  </style>
</head>

<body>
  <h2>✅ Payment Successful</h2>
  <p>Txn ID: <%= txnid %>
  </p>
  <script>
    setTimeout(() => {
      window.location.href = 'residentialsociety://payment-success';
    }, 2000);
  </script>
</body>

</html>